<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Page</title>
</head>
<body>
    <h1>Order a Pet</h1>

    <form   action="#" method="post">
        <label for="pet" class="">What kind of pet would you like to order?</label>
        <input type="text" name="pet" id="pet"><br>

        <label for="color" class="">Select a color</label>
        <select id="color" name="color">
            <option value="white">White</option>
            <option value="brown">Brown</option>
            <option value="black">Black</option>
        </select><br>
        <label>
            <input type = "radio"  name="choice" value="robotic" >
        </label>
        <label>Robotic</label>
        <label>
            <input type = "radio" name="choice" value="stuffed" >
        </label>
        <label>stuffed</label>
        <button type="submit">Place Order</button>
    </form>
<!---->
</body>
</html>