<!DOCTYPE html>
<html>
<head>
    <title>Robotic Pet Attributes</title>
</head>
<body>
<h1>Robotic Pet Attributes</h1>
<form action="postRobotic" method="post">
    <p>Extra Battery Packs</p>
    <label>
        <input id="battery_yes" type="radio" name="extra_battery_packs" value="yes">
    </label>
    <label for="battery_yes">Yes</label>

    <label>
        <input id="battery_no" type="radio" name="extra_battery_packs" value="no">
    </label>
    <label for="battery_no">No</label>

    <p>Charging Dock/Station</p>
    <label>
        <input id="charging_yes" type="radio" name="charging_dock" value="yes">
    </label>
    <label for="charging_yes">Yes</label>

    <label>
        <input id="charging_no" type="radio" name="charging_dock" value="no">
    </label>
    <label for="charging_no">No</label>

    <p>Voice Module</p>
    <label>
        <input id="voice_yes" type="radio" name="voice_module" value="yes">
    </label>
    <label for="voice_yes">Yes</label>

    <label>
        <input id="voice_no" type="radio" name="voice_module" value="no">
    </label>
    <label for="voice_no">No</label>

    <p>Camera Attachment</p>
    <label>
        <input id="camera_yes" type="radio" name="camera_attachment" value="yes">
    </label>
    <label for="camera_yes">Yes</label>

    <label>
        <input id="camera_no" type="radio" name="camera_attachment" value="no">
    </label>
    <label for="camera_no">No</label>

    <p>Remote Control</p>
    <label>
        <input id="remote_yes" type="radio" name="remote_control" value="yes">
    </label>
    <label for="remote_yes">Yes</label>

    <label>
        <input id="remote_no" type="radio" name="remote_control" value="no">
    </label>
    <label for="remote_no">No</label>

    <p>Custom Skins</p>
    <label>
        <input id="skins_yes" type="radio" name="custom_skins" value="yes">
    </label>
    <label for="skins_yes">Yes</label>

    <label>
        <input id="skins_no" type="radio" name="custom_skins" value="no">
    </label>
    <label for="skins_no">No</label>

    <p>Bluetooth Speaker Module</p>
    <label>
        <input id="speaker_yes" type="radio" name="bluetooth_speaker" value="yes">
    </label>
    <label for="speaker_yes">Yes</label>

    <label>
        <input id="speaker_no" type="radio" name="bluetooth_speaker" value="no">
    </label>
    <label for="speaker_no">No</label>

    <br>
    <button type="submit">Place Order</button>
</form>
</body>
</html>
