<!DOCTYPE html>
<html>
<head>
    <title>Stuffed Pet Attributes</title>
</head>
<body>
<h1>Stuffed Pet Attributes</h1>
<form action="#" method="post">
  <p>size
  </p>
    <label>
        <input id ="size" type="radio" name="size" value="big" >
    </label>
    <label for="size">big</label>

    <label>
        <input type="radio" name="size" value="mid" >
    </label>
    <label for="size">mid</label>

    <label>
        <input type="radio" name="size" value="small" >
    </label>
    <label for="size">small</label>

    <br>
    <p>Material</p>
    <label>
        <input id="rubber"  type="radio" name="material" value="rubber">
    </label>
    <label for="rubber">rubber</label>

    <label>
        <input id="cotton" type="radio" name="material" value="cotton">
    </label>
    <label for="cotton">cotton</label>
    <br>
    <button type="submit">submit</button>
</form>
</body>
</html>
